.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.row h2 {
    font-size: 4rem;
    margin-bottom: 30px;
}

.row h4 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.row p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.col {
    width: 50%;
}

.boxes_block {
    width: 50%;
    height: 260px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}

.boxes_block div {

}

.flex {
    display: flex;
    align-items: flex-end;
}

.flex div {
    text-align: center;
}

.box {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 500;
}

.box p {
    font-size: 1.5rem;
    margin: 0;
    color: white;

}

.box span {
    font-size: 5rem;
    letter-spacing: 0;
    line-height: 0.8;
    color: white;
}

.sm_box {
    height: 80%;
    width: 250px;
    background: var(--multicolor);
}

.lg_box {
    height: 100%;
    width: 340px;
    background: var(--pink);
}
.lg_box span.plus {
    font-size: 4.5rem;
    line-height: 1;
}

span.plus {
    font-size: 4.5rem;
    line-height: 0.3;
}