:root {
    --pink: #F23B67;
    --pink-hover: #FF7697;
    --pink-active: #C50936;

    --orange: #FDAD6B;
    --orange-hover: #FFC595;
    --orange-active: #FF7605;

    --multicolor: linear-gradient(90deg, rgba(242,59,103,1) 0%, rgba(253,175,106,1) 100%);
    --multicolor-hover: var(--orange);
    --multicolor-active: var(--pink);

    --gray: #F3F3F7;

    --black: #3E3B30;

    --filter: #8C84EF;
    --filter-hover: #E3E0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}

html {
    font-size: 16px;
}

body {
    background: linear-gradient(180deg, #FFFFFF 11.57%, #FEFCF9 26.73%, #FCF3E9 49.15%, #FFF0EF 89.35%);
    min-height: 100dvh;
}

button {
    cursor: pointer;
}

.custom_cont {
    margin-left: 5vw;
    margin-right: 5vw;
}

.bg_pink {
    background: var(--pink);
}

.bg_pink:hover {
    background: var(--pink-hover);
}

.bg_pink:active {
    background: var(--pink-active);
}

.bg_orange {
    background: var(--orange);
}

.bg_orange:hover {
    background: var(--orange-hover);
}

.bg_orange:active {
    background: var(--orange-active);
}

.bg_multicolor {
    background: var(--multicolor);
}

/*.bg_multicolor:hover {*/
/*    background: var(--multicolor-hover);*/
/*}*/

/*.bg_multicolor:active {*/
/*    background: var(--multicolor-active);*/
/*}*/
.btn {
    border-radius: 50px;
    border: transparent;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    width: 100%;
    transition: 0.3s;
    text-decoration: none;
    display: block;
    text-align: center;
}

.outline_btn {
    border-radius: 50px;
    border: 2px solid var(--pink-active);
    background: transparent;
    font-size: 1.2rem;
    padding: 20px;
    transition: 0.3s;
}

.outline_btn:hover {
    background: var(--pink-hover);
}

.outline_btn:active {
    background: var(--pink-active);
}

.transparent_btn {
    border: none;
    background: transparent;
}

.filer_btn {
    border: 2px solid var(--filter);
    background: white;
    transition: 0.3s;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 50px;
}

.filer_btn:hover {
    background: var(--filter-hover);
}

.filer_btn_active {
    border: 2px solid var(--filter);
    background: var(--filter);
    color: white;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 50px;
    outline: none;
}