.h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.h1 span {
    background: var(--multicolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.filter_block {
    display: flex;
    justify-content: flex-end;
}