.header {
    font-size: 3rem;
    margin-bottom: 30px;
}

.tags_block {
    display: flex;
    justify-content: space-between;
}
.radio_group {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.news {
    margin-bottom: 100px;
}